#wrapper{
	width: 95%;
	height: 95vh;
	border: 1px solid green;
	padding: 3px;
	margin: 15px 5px 15px 30px;	
}

#left-all-stocks{
	width: 33%;
	height: 95vh;
	background-color: #e0e0e0;
	float: left;
}

.company-name{
	font-size:21px;
}

.change-name{
	font-size:16px;
}
.stock-change change-positive{
	font-size:16px;
	color: green;
}

.stock-change change-negative{
	font-size:16px;
	color: red;
}

.stock-symbol{
	font-size:16px;


